<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parent.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <title>ファイル生成</title>
</head>

<body>
    <div class="parent">
        <h1 class="uk-article-title">ファイル生成</h1>
        <p class="uk-text-muted">生成するファイルを選択してください</p>
        <div class="js-upload uk-placeholder uk-text-center">
            <span uk-icon="icon: cloud-upload"></span>
            <span class="uk-text-middle">ファイルをドロップ　または</span>
            <div uk-form-custom>
                <input type="file" multiple>
                <span class="uk-link">ファイルを選択</span>
            </div>
        </div>
        <div class="uk-margin">
            <div class="inline">
                <input name="input" class="uk-input" placeholder="標準入力">
            </div>
        </div>
        <div class="uk-margin">
            
            <div class="uk-inline">
                <input name="number" class="uk-input"  placeholder="課題番号">
            </div>
            <div class="uk-inline">
                <input name="option" class="uk-input" placeholder="オプション">
            </div>
        </div>

        <div class="uk-button">
            <a class="uk-button uk-button-danger uk-button-large " href="javascript:history.back();">戻る</a>
            <a class="uk-button uk-button-primary uk-button-large " href="#">生成</a>
        </div>
        
        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
        
        <script>

            var bar = document.getElementById('js-progressbar');

            UIkit.upload('.js-upload', {

                url: '',
                multiple: true,

                beforeSend: function () {
                    console.log('beforeSend', arguments);
                },
                beforeAll: function () {
                    console.log('beforeAll', arguments);
                },
                load: function () {
                    console.log('load', arguments);
                },
                error: function () {
                    console.log('error', arguments);
                },
                complete: function () {
                    console.log('complete', arguments);
                },

                loadStart: function (e) {
                    console.log('loadStart', arguments);

                    bar.removeAttribute('hidden');
                    bar.max = e.total;
                    bar.value = e.loaded;
                },

                progress: function (e) {
                    console.log('progress', arguments);

                    bar.max = e.total;
                    bar.value = e.loaded;
                },

                loadEnd: function (e) {
                    console.log('loadEnd', arguments);

                    bar.max = e.total;
                    bar.value = e.loaded;
                },

                completeAll: function () {
                    console.log('completeAll', arguments);

                    setTimeout(function () {
                        bar.setAttribute('hidden', 'hidden');
                    }, 1000);

                    alert('Upload Completed');
                }

            });

        </script>

    </div>
</body>
</html>