.parent{
    white-space: nowrap;
    text-align: center;
    position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%,-40%);
    margin:auto;
}

.uk-text-bold{
    float: left;
    margin:5px 20px auto auto;
    white-space:nowrap;
}


