<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parent.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <title>新規登録</title>
</head>
<body>
    {% with messages = get_flashed_messages(category_filter=["Error"]) %}
    {% if messages %}
    <ul class=flashes>
        {% for message in get_flashed_messages() %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="parent">
        <h1 class="uk-article-title">新規登録</h1>
        <p class="uk-text-muted">登録するあなたの情報を入力してください</p>
        <form method="post" action="/register">
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                    <input name = "username" class="uk-input" type="text" placeholder="ID">
                </div>
            </div>
            
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input name="password" class="uk-input" type="password" placeholder="password">
                </div>
            </div>
                <group class="inline-radio">
                    <div><input type="radio" name="permission" value="0"><label>学生</label></div>
                    <div><input type="radio" name="permission" value="1" checked><label>指導者</label></div>
                </group>
                <br>
                
            <div class="uk-button">
            <a class="uk-button uk-button-danger uk-button-large " href="javascript:history.back();">戻る</a>
            <input onClick = "check()" type="submit" class="uk-button uk-button-primary uk-button-large" value="登録" ></input>
        </div>
        </form>
        <br>
        

        
    </div>
    <script>
        function check() {
            var getText1 = document.form.username.value;
            var getText2 = document.form.password.value;
            if (getText1.length >= 255 || getText2.length >= 255) {
                alert("no no 255");
            }
        }
    </script>
    
</body>
</html>