<!--このページはw5.htmlへ統合-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='parent.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <title>指導者ホーム</title>
</head>

<body>
    <div class="parent">
        <h1 class="uk-article-title">指導者ホーム</h1>
        <p class="uk-text-muted">指導者ホームへようこそ</p>
        <p class="uk-text-muted">ここでは、課題の情報登録、閲覧ができます</p>
        <div class="uk-button">
            <a class="uk-button uk-button-secondary uk-button-large " href="w3.html">ファイル生成</a>
            <a class="uk-button uk-button-primary uk-button-large " href="w14.html">課題情報登録</a>
            <a class="uk-button uk-button-default uk-button-large" href="w11.html">閲覧</a>
        </div>

    </div>
</body>

</html>